name: ci-cd-cybernet-terminal

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: onsfadhli/cybernet-terminal

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Set up Java 21
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      # Build Java project
      - name: Build Java project with Maven
        run: mvn clean package -DskipTests

      # Login to DockerHub
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Get version from Git commit
      - name: Set image tag
        id: vars
        run: |
          TAG=$(git rev-parse --short HEAD)
          echo "IMAGE_TAG=$TAG" >> $GITHUB_ENV

      # Build Docker image
      - name: Build Docker image
        run: |
          docker build -t $IMAGE_NAME:${IMAGE_TAG} -t $IMAGE_NAME:latest .

      # Push Docker image
      - name: Push Docker image
        run: |
          docker push $IMAGE_NAME:${IMAGE_TAG}
          docker push $IMAGE_NAME:latest
